<!DOCTYPE html>
<html>
<head>
    <title>建立用戶</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="turtle_styles.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div id="another_bg">

        <nav class="navbar navbar-expand-sm bg-light2">
                    
          <ul class="navbar-nav ">
            <li id="line">｜</li>
            <li class="nav-item ">
              <a class="nav-link" href="index">食魂</a>
            </li>
            <li id="line">｜</li>
            <li class="nav-item ">
              <a class="nav-link" href="weapon.html">膳具</a>
            </li>
            <li id="line">｜</li>
            <li class="nav-item ">
              <a class="nav-link " href="board">討論區</a>
            </li>
            <li id="line">｜</li>
            
            <ul class="navbar-nav ">
              <li id="line">｜</li>
              <li class="nav-item ">
                <a class="nav-link" href="login.html">登入</a>
              </li>
              <li id="line">｜</li>
              <li class="nav-item ">
                  <a class="nav-link" href="gameform.html">註冊</a>
              <li id="line">｜</li>
                </li>
              </ul>
          </ul>
          </nav>
    
        <div id="bg_circle" class="container border">
          <div id="space">
            <div class="container border" id="userpage">
    
                <div id="row" class="col-sm-12 col-md-3 col-lg-1 border" style="padding-bottom: 60px;"></div>
                <div><h2 style="text-align:center;line-height: 2;font-size: 65px;"> <%= error %></h2> </div>


              <div id="row" class="col-sm-12 col-md-3 col-lg-1 border" style="padding-bottom: 55px;"></div>
    
    
    
            </div>
          </div>
        </div>
      </div>


   
</body>
</body>


</html>